################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/bytebash/FileContentIndex
/.vs/bytebash/v17/Browse.VC.opendb
